#box
    h1 My Feeds
        - if (!qq)
            | <a href="/oauth">GO QQ</a> 
        - if (!sina)
            | <a href="/oauth_sina">GO SINA</a>

    ul
        - if (sina)
            != partial('sinatimeline', {collection: sina, as: status})
        - if (qq)
            != partial('qqtimeline', {collection: qq, as: status})
